@keyframes background-color {
  from {
    background-color: #1878dc;
  }

  to {
    background-color: #3f96f3;
  }
}

.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 32px 0;
}

.form__fieldset:first-child {
  margin-top: 0;
}

.form__fieldset:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 8px;
}

.form__label[for="i-agree"] {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__label:last-child {
  margin-bottom: 0;
}

.form__input {
  display: block;
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__input::placeholder {
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  background-color: #1878dc;
  color: #ffffff;
  padding: 20px 0;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.form__button:hover {
  background-color: #3f96f3;
  transition: background-color 2s linear;
}

.form__input-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
