.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  right: 50px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.nav__link:hover {
  color: #3f96f3;
  opacity: 50%;
  transition: opacity 2s ease-in-out;
}
