@keyframes background-color {
  from {
    background-color: #1878dc;
  }

  to {
    background-color: #3f96f3;
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 28px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  height: 568px;
  width: 646px;
  z-index: 1;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  position: relative;
  font-weight: 500;
  color: #6f6f6f;
}

.header__hour {
  margin: 0 auto;
}

.header__hours {
  margin: 0 auto;
}

.header__address {
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  right: 50px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.nav__link:hover {
  color: #3f96f3;
}

.recipes {
  color: #ffffff;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 40px;
  overflow: hidden;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
  display: flex;
  justify-content: space-between;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
}

.reservation__title {
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 80px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 32px 0;
}

.form__fieldset:first-child {
  margin-top: 0;
}

.form__fieldset:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 8px;
}

.form__label[for="i-agree"] {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__label:last-child {
  margin-bottom: 0;
}

.form__input {
  display: block;
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__input::placeholder {
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  background-color: #1878dc;
  color: #ffffff;
  padding: 20px 0;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__input-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
